//mixin//

@mixin sizes ( $width, $height){
    width: $width;
    height: $height;
}


.my_mixin{
    @include sizes ( 50fr, 50fr);
    border:10fr solid transparent;
    color:black;
    text-align: left;
}