@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto&display=swap');
/* mobile first 0px-500px */
*{
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
}

body{
    background-color: gainsboro;
    font-family: 'poppin','sans-serif';
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



header{
    font-size: larger;
    display: grid;
    background-color: goldenrod;
    justify-content: center;
    list-style: none;
    margin-bottom:1.5em;
    border: 1rem solid #3a3548;
}

nav ul li{
    list-style: none;
    border: 3px solid white;
}

a{
    text-decoration: none;
    color:#3a3548;
}

footer{
    padding: 8em;
    background-color: goldenrod ;
    margin-bottom: 0;
    margin-top: 1.5em;
    border: 1rem solid #3a3548;

}


.grid{
    display: grid;
    justify-items: end;
    margin-top:3px;
}


.inicio{
    grid-area:inicio;
}

.servicios{
    grid-area:servicios;
}

.productos{
    grid-area:productos;
}

.nosotros{
    grid-area: nosotros;
}

.contacto{
    grid-area: contacto;
}

header{
display: grid;
}

.barra{
    padding: auto;
    background-color:goldenrod;
    margin-bottom: 0.5em;
    display:grid;
    grid-template-areas:
    "inicios"
    "servicios"
    "productos"
    "nosotros"
    "contacto";
    gap: 0.5em;
}

.prod{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    justify-items: center;

}

.uctos{
    padding: 2fr;
    margin-top: 6rem;
    margin-bottom:6rem ;
}

img{
    padding: 1fr;
    border: 8px solid #3a3548;
    border-radius: 3rem;
    width: 20fr;
    height: 10fr;
    margin-top:5fr ;
}



.bg{
    background-color: black;
}

.acercar{
    overflow: hidden;
}

.acercar img{
    transition: all 2s;
}

.acercar:hover img{
    transform: scale(1.5);
}

/* declaro mi primera MQ */

@media(min-width:500px){
    
.barra{
    margin-bottom: 0.;
    display:grid;
    grid-template-areas:
    "inicios"
    "servicios"
    "productos"
    "nosotros"
    "contacto";
    gap: 0.5em;
}

nav ul li{
    color:goldenrod;
    border:3px solid #3a3548;
}

}

@media(min-width:768px){
    .barra{
        margin-bottom:1em;
        display:grid;
        grid-template-areas:
        "inicios"
        "servicios"
        "productos"
        "nosotros"
        "contacto";
        gap: 1.5em;
    }

    nav ul li{
        color:#3a3548;
        border:3px solid goldenrod;
    }

    nav ul li{
        border:3px solid darkgoldenrod
    }

    a{
        color: white;
    }
    
}

@media(min-width:1024px){
    body{
        background-color: goldenrod;
    }

    .barra{
        color:rgb(176,109,17)
    }

    header{
        background-color: #3a3548;
    }
    .barra{
        padding: auto;
        background-color:#3a3548;
        margin-bottom: 0.5em;
        display:grid;
        grid-template-areas:
        "inicios"
        "servicios"
        "productos"
        "nosotros"
        "contacto";
        gap: 0.5em;
    }
    footer{
        padding: 8em;
        background-color: #3a3548;
        margin-bottom: 0;
        margin-top: 1.5em;
        border: 1rem solid goldenrod;
    
    }

    a{
        color: goldenrod;
    }

    img{
        border: 8px solid goldenrod;
        border-radius: 5rem;
        width: 30fr;
        height: 15fr;
        margin-top:10fr ;
    }
}

